/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  .global {
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    background-color: #0c020200;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.logo img {
  height: 500px;
  margin-right: 10px;
}
 
/* Nav Styles */
  nav {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgb(64, 70, 64); 
  }
  
  nav a {
    color: #1E90FF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-top: 3px #1E90FF; 
    border-bottom: 3px solid #1E90FF; 
  }
  
  nav li {
    margin: 0 10px;
    border-left: 3px solid #1E90FF; 
  }
  
  nav li:first-child {
    border-left: none; 
  }
  
  nav .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-right: 3px solid #1E90FF; 
    padding-right: 20px; 
  }
  
  nav .logo img {
    height: 300px;
    vertical-align: middle;
  }
  
  nav .menu {
    display: flex;
    align-items: center;
  }
  
  nav .menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    nav {
      padding: 20px;
      position: relative;
    }
  
  }
    nav .menu {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, transform 0.2s ease;
      border: 3px solid; 
      border-top: none; 
    }
  
    nav .menu-toggle {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  
    nav .menu-toggle .icon {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      transform: rotate(0);
      transition: transform 0.2s ease;
    }
  
    nav .menu-toggle .icon span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #333;
      position: absolute;
      left: 0;
      transform: rotate(0);
      transition: transform 0.2s ease;
    }
  
    nav .menu-toggle .icon span:nth-child(1) {
      top: 0;
    }
  
    nav .menu-toggle .icon span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
  
    nav .menu-toggle .icon span:nth-child(3) {
      bottom: 0

    }
  
    /* Main styles */
  main {
    margin-top: 40px;
  }
  
  section {
    margin-bottom: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    background-color: #1E90FF;
  }
  
/* Add styles to the container class */
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 30px;
}


h2 {
  font-size: 24px;
  margin-bottom: 10px;
}


p {
  font-size: 16px;
  margin-bottom: 10px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


li {
  margin-bottom: 5px;
}


a {
  color: #1E90FF;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}


a:hover {
  color: #FF8C00;
}


  section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
    font-size: 1.2rem;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
  }
  
  .wallets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  .wallets img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    font-size: 27px;
    font-weight: bold;
    color: #1E90FF;
    text-align: center;
    margin: 20px 0;
  }






  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
    font-size: 1.2rem;
  }